:root{
    --cor-cinza-claro: #f0f0f0;
    --cor-cinza-middle: #d8d8d8;
    --cor-cinha-high: #c0c0a8;
    --cor-roxo-escuro: #604848;
    --cor-titulos: #484848;
    --font-family-primary:'Oxanium', cursive;
    --espacamento-padding: 1rem;
}
body{
    margin: 0px;
    font-family: var(--font-family-primary);
}


h1, h2, h3{
    color: var(--cor-titulos);
    font-weight: 1000;
    line-height: 3rem;
}

p{
    color: var(--cor-textos);
    font-weight: 400;
    line-height: 1.5em;
}

li {
    list-style: none;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.menu a{
    color: var(--cor-titulos);
}

.demo a{
    color: var(--cor-background);
}

.menu .unicode{
    font-family: "Arial Unicode MS", Arial, sans-serif;
}

input{
    border-radius: 4px;
    border: none;
    height: 50px;
    
}
textarea{
    border: none;
    border-radius: 4px;
    resize: none;
}