:root{
    --cor-background: #f0f0f0;
    --cor-backgroun2: #d8d8d8;
    --cor-textos: #c0c0a8;
    --cor-bordas: #604848;
    --cor-titulos: #484848;
    --font-family-primary: 'Oxanium', cursive;
}
/* Configs Gerais */
* {
    margin: 0px;
    font-family: var(--font-family-primary);
}

h1, h2, h3{
    color: var(--cor-titulos);
}

p{
    color: var(--cor-textos);
}

li {
    list-style: none;
}

/* ------------ Cabeçalho ------------ */

.cabecalho {
    display: flex;
    background-color: var(--cor-background);
    
}

.cabecalho-main-top{
    display: flex;
    justify-content: space-around;
}

.foto img{
    width: 30%;
}

.menus .menus-nav{
    display: flex;
    flex-direction: row;
}

.apresentacao{
    padding: 2%;
}

.gradient-hr {
    height: 10px; /* Altura da linha */
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    animation: gradiente-animacao 4s linear infinite;  /* Duração, tipo e repetição da animação */
}


@keyframes gradiente-animacao {
    0% {
      background-position: -100% center; /* Começa fora da tela à esquerda */
    }
    50% {
      background-position: 100% center; /* Chega ao final da tela à direita */
    }
    100% {
      background-position: -100% center; /* Retorna para fora da tela à esquerda */
    }
  }

/* ------------------------------- */
/* ------------ Corpo ------------ */

.sobre{
    background-color: var(--cor-backgroun2);
    padding: 2%;
}

.sobre p{
    color: var(--cor-bordas);
}

.areaSkills h2{
    text-align: center;
}

.skilltree{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 250px;
    gap: 8px;
}

.skilltree .skill {
    align-self: center;
    width: 50%;
    height: 118px;
    
}

/* ------------------------ */
/* ------------ rodape ------------ */
footer{
        background-color: aqua;
}



