
/* Configs Gerais */
@media screen { max-width: 500px;
    


/* ------------ Cabeçalho ------------ */

.cabecalho {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--cor-cinza-claro);

}

.main-top{
    display: flex;
    align-items:baseline;
    justify-content: space-around;
    gap: 1rem;   
    padding: var(--espacamento-padding);
}

.apresentacao{
    font-size: 1em;        
    padding: var(--espacamento-padding);
}

.foto img{
    width: 8rem;
}

.menus .menus-nav{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
}


.gradient-hr {
    height: 1rem; /* Altura da linha */
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    animation: gradiente-animacao 4s linear infinite;  /* Duração, tipo e repetição da animação */
}

/* ------------------------------- */
/* ------------ Corpo ------------ */

.sobre{
    background-color: var(--cor-cinza-middle);    
    padding: var(--espacamento-padding);
}

.sobre p{
    color: var(--cor-bordas);
}

.skills{
    background-color: var(--cor-cinza-claro);
    padding: var(--espacamento-padding);
}

.areaSkills h2{
    text-align: center;
}

.skilltree{
    padding: 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 16px;  
    
}

.skilltree .skill {
    background-color: #FFFFFF;
    width: 5rem;
    height: 118px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    flex-grow: 1;
    padding: var(--espacamento-padding);
}

.hobbies h2{
    text-align: center;
}

.hobbiesTree{
    padding: 0%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 16px;
}

.hobbiesTree .hobbie {
    background-color: #FFFFFF;
    width: 5rem;
    height: 118px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    flex-grow: 1;
    padding: var(--espacamento-padding);
}

.formacoes {
    background-color: var(--cor-cinza-middle);
    padding: var(--espacamento-padding);
}

.formacoes h2{
    text-align: center;
}

.formacaoTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0%;
}

.formacaoTree h3{
    font-size: 1rem;
}


.experiencia{
    background-color: var(--cor-cinza-claro);
    padding: var(--espacamento-padding);
}

.experiencia h2{
    text-align: center;
    padding: 0%;
}

.projetos .projeto{
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;   
    justify-content: center;    
}

.botoes-rep{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.repositorio{
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border: 1px solid var(--cor-roxo-escuro);
}

.repositorio a{
    color: var(--cor-roxo-escuro);
}


.demo{
        box-sizing: border-box;
        width: 100px;
        height: 40px;
        border: 1px solid var(--cor-roxo-escuro);
        background-color: var(--cor-titulos);
        color: var(--cor-cinza-claro);
}



/* ------------------------ */
/* ------------ rodape ------------ */
footer{
        background-color: var(--cor-cinza-middle);
        padding: 0%;
}

.contato {
    padding: var(--espacamento-padding);
}

.contato .contato-top{
    display: flex;
    flex-direction: column;
}

.contato .formulario{
    display:flex;
    flex-direction: column;    
    gap: 30px;
}

input{
    width: 20rem;
    font-size: 16px;
}

.formulario #mensagem{
    margin: 10% 0% 0% 0%;
}

textarea{
    width: 18.2rem;
    height: 15rem;
    padding: var(--espacamento-padding);
}

.formulario label{
    position: absolute;
    font-size: 14px;
    padding: 5px 0px 0px 5px;
    color: var(--cor-cinza-middle);
    line-height: 0.9em;  
}

.input-btn{
    box-sizing: border-box;
        width: 10rem;
        height: 40px;
        border: 1px solid var(--cor-roxo-escuro);
        background-color: var(--cor-titulos);
        color: var(--cor-cinza-claro);
}

.contato-inferior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 100%;
    height: 7rem;
    text-align: center;

   
}





}