
/* Configs Gerais */


/* ------------ Cabeçalho ------------ */

.cabecalho {
    display: flex;
    background-color: var(--cor-background);
    
}

.cabecalho-main-top{
    display: flex;
    justify-content: space-around;
}

.foto img{
    width: 30%;
}

.menus .menus-nav{
    display: flex;
    flex-direction: row;
}

.apresentacao{
    padding: 2%;
}

.gradient-hr {
    height: 10px; /* Altura da linha */
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    animation: gradiente-animacao 4s linear infinite;  /* Duração, tipo e repetição da animação */
}


@keyframes gradiente-animacao {
    0% {
      background-position: -100% center; /* Começa fora da tela à esquerda */
    }
    50% {
      background-position: 100% center; /* Chega ao final da tela à direita */
    }
    100% {
      background-position: -100% center; /* Retorna para fora da tela à esquerda */
    }
  }

/* ------------------------------- */
/* ------------ Corpo ------------ */

.sobre{
    background-color: var(--cor-backgroun2);
    padding: 2%;
}

.sobre p{
    color: var(--cor-bordas);
}

.skills{
    background-color: var(--cor-background);
    align-items: center;
}

.areaSkills h2{
    text-align: center;
    padding: 4%;
}

.skilltree{
    display: flex;
    padding: 2%;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 16px;
}

.skilltree .skill {
    background-color: #FFFFFF;
    width: 30%;
    height: 118px;
    padding: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.hobbies h2{
    text-align: center;
    padding: 4%;
}

.hobbiesTree{
    display: flex;
    padding: 2%;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 16px;
}

.hobbiesTree .hobbie {
    background-color: #FFFFFF;
    width: 30%;
    height: 118px;
    padding: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.formacoes {
    background-color: var(--cor-backgroun2);
}

.formacoes h2{
    text-align: center;
    padding: 2%;
}

.formacaoTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
    gap: 16px;
}

.experiencia{
    background-color: var(--cor-background);
}

.experiencia h2{
    text-align: center;
    padding: 2%;
}

.projetos .projeto{
    margin: 12px 10px 12px 0px;
    
}

.projeto h3{
    word-break:keep-all;
}

.botoes-rep{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.repositorio{
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    border: 1px solid var(--cor-bordas);
}

.repositorio a{
    color: var(--cor-bordas);
}


.demo{
        box-sizing: border-box;
        width: 100px;
        height: 40px;
        border: 1px solid var(--cor-bordas);
        background-color: var(--cor-titulos);
        

}



/* ------------------------ */
/* ------------ rodape ------------ */
footer{
        background-color: var(--cor-backgroun2);
}

.contato .contato-top{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.contato .formulario{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 10%;
}




